.DS_Store

.vs/abet/v16/.suo

.vs/abet/v16/Browse.VC.db

.vs/abet/v16/Browse.VC.opendb

.vs/abet/v16/ipch/AutoPCH/3e4ac5dc1289076c/ZMQNOTIFICATIONINTERFACE.ipch

.vs/abet/v16/ipch/AutoPCH/49e987778ae4023c/PROPOSALTABLEMODEL.ipch

.vs/abet/v16/ipch/AutoPCH/b80c5f19898ff5ba/INIT.ipch

.vs/ProjectSettings.json

.vs/slnx.sqlite

.vs/VSWorkspaceState.json
